In [25]:
import pandas as pd
import numpy as np
import datetime as dt

In [3]:
general = pd.read_csv('../raw_data/general_data.csv')

In [38]:
general.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [50]:
in_time = pd.read_csv('../data/raw_data/in_time.csv', index_col=0, parse_dates=True)
out_time = pd.read_csv('../data/raw_data/out_time.csv', index_col=0)
m_survey = pd.read_csv('../data/raw_data/manager_survey_data.csv')
e_survey = pd.read_csv('../data/raw_data/employee_survey_data.csv')

/var/folders/t6/rx8j2pqs09l9rckj9vd_4zt80000gn/T/ipykernel_23474/1121185413.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  in_time = pd.read_csv('../data/raw_data/in_time.csv', index_col=0, parse_dates=True)

In [54]:
from data.load import load_data

array([1])

In [47]:
e_survey

      EmployeeID  EnvironmentSatisfaction  JobSatisfaction  WorkLifeBalance
0              1                      3.0              4.0              2.0
1              2                      3.0              2.0              4.0
2              3                      2.0              2.0              1.0
3              4                      4.0              4.0              3.0
4              5                      4.0              1.0              3.0
...          ...                      ...              ...              ...
4405        4406                      4.0              1.0              3.0
4406        4407                      4.0              4.0              3.0
4407        4408                      1.0              3.0              3.0
4408        4409                      4.0              1.0              3.0
4409        4410                      1.0              3.0              NaN

[4410 rows x 4 columns]

In [49]:
general['Attrition'].value_counts()

Attrition
No     3699
Yes     711
Name: count, dtype: int64

In [34]:
date = in_time.iloc[12,12]
date1= in_time.iloc[12,13]

In [31]:
date

'2015-01-19 10:09:12'

In [35]:
# change dtype of date to datetime
date = dt.datetime.strptime(date, '%Y-%m-%d %H:%M:%S')
date1 = dt.datetime.strptime(date1, '%Y-%m-%d %H:%M:%S')

In [36]:
date - date1

datetime.timedelta(days=-1, seconds=844)